.main {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  display: flex;
  flex-direction: row;
}

.side-bar12 {
}

.first-row {
  height: 100%;
  width: 280px;
  background: #131f25;
}
.three-line-icon-dev {
  justify-content: flex-end;
  display: flex;
  margin: 2%;
}
.activity-icon {
  margin-left: 5%;
}
.three-line-icon {
  color: #00a876;
  width: 50px;
  height: 50px;
}
.profile-image {
  justify-content: center;
  display: flex;
}
.image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 10%;
}
.profile-description {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
.profile-name {
  font-size: 18px;
  font-weight: 500;
}
.profile-status {
  font-size: 15px;
}
.horizotal-line {
  background: honeydew;
  opacity: 0.5;
  width: 80%;
  height: 2px;
  margin: 10%;
  overflow: hidden;
}

p {
  color: honeydew;
}

.topic {
  color: honeydew;
  opacity: 0.5;
  font-size: 20px;
  margin-left: 5%;
}
.nav-button {
  color: honeydew;
  background: #1e313b;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 70%;
  height: 10%;
  margin: 5% 15% 3% 15%;
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
}
.button-icon {
  color: #ffffff;
  width: 25%;
  height: 25px;
  margin-left: 8%;
  margin-top: 2%;
}
/*********      
button:active {
  outline: none;
  border: none;
}

*/

button:focus {
  outline: 0;
}
.title {
  font-size: 15px;
  font-weight: 400;
  margin-top: 2%;
  padding-right: 30px;
  padding-left: 30px;
}
/***search bar */
.harmonee {
  margin-bottom: 3%;
}
.harmonee-text {
  margin-top: 50px;
  color: aliceblue;
}
.harmonee-icon {
  background: transparent;
  color: #10e633;

  display: flex;
  flex-direction: row;
}
.harmonee-btn-icon {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 50%;
}
.main-search-area {
  width: 100%;
}
.search-area {
  background: rgb(255, 255, 255);
  width: 50%;
}
.input-bar {
  width: 100%;
  margin-top: 5%;
}
/***search bar end */
.row2 {
  height: 100%;
  width: 100%;
  background-image: #f3f3f3;
}
.second-row {
  display: flex;
  flex-direction: row;
}
.row3 {
  width: 70%;
  height: 100%;
  background: #f3f3f3;
}
/**********Chart ****/
.row-1 {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  display: flex;
  flex-direction: row;

  overflow: hidden;
}
.congrats-bar {
  height: 400px;
  width: 65%;
  margin-top: 2%;
  margin-left: 1%;
  background: rgb(185, 98, 98);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.stars {
  margin-top: 2%;
  margin-left: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  height: 400px;
  width: 35%;
}

.doughnut {
  height: 100%;
  width: 45%;
  margin: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.radar {
  margin: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 55%;
}

.row-2 {
  width: 98%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin: 1%;
  margin-bottom: 3%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.bar-chart {
  height: 50%;
  width: 60%;
  margin-left: 10%;
}
.row-3 {
  width: 97%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.row-4 {
  width: 100%;
  height: 100%;
  background: transparent;
}

/*****Scheduled *****/

.row4 {
  width: 30%;
  height: 100%;
  background: #f3f3f3;
}
.row-11 {
  width: 100%;
  height: 100%;
  background: #ffffff;
  margin-top: 30px;
}
.row-22 {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.row-33 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.row-44 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.row-55 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  margin-bottom: 144px;
}

.add-button1 {
  position: fixed;
  bottom: 170px;
  right: 10px;
  z-index: 1;
  background-color: #30726c;
  border-radius: 50%;
  border-right-width: 0;
  border: none;
}
.add-button2 {
  position: fixed;
  bottom: 95px;
  right: 10px;
  z-index: 1;
  background-color: #30726c;
  border-radius: 50%;
  border-right-width: 0;
  border: none;
}
.add-button3 {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
  border-right-width: 0;
  border: none;
}
.add-button-icon1 {
  height: 65px;
  width: 65px;
  color: #ffffff;
  padding: 10px;
}
.add-button-icon2 {
  height: 65px;
  width: 65px;
  color: #ffffff;
  padding: 10px;
}
.add-button-icon4 {
  height: 70px;
  width: 70px;
  color: #30726c;
}
.add-button-icon {
  height: 80px;
  width: 80px;
  color: #30726c;
}
.add-button4 {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
  border-right-width: 0;
  border: none;
}
