.App {
  width: 100%;
  height: 110%;
  background: url("../img//back1.png") no-repeat;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-size: cover;

  background-size: cover;
}
.container {
  height: 70%;
}
.row {
  background: #00a876;
  margin-top: 10%;
  width: 115%;
}
.welcome {
  padding: 5%;
}
.harmonee-text {
  margin-top: 50px;
}
.harmonee-icon {
  background: transparent;
  color: #00a876;

  display: flex;
  flex-direction: row;
}
.harmonee-btn-icon {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 50%;
}

.welcome {
  background: #151a22 0% 0% no-repeat padding-box;
}

.welcome-text {
  color: aliceblue;
}
.register-text {
  color: aliceblue;
  font-size: 18px;
}
.welcome-content {
  margin-top: 15%;
  margin-bottom: 15%;
}
.welcome-content p {
  color: aliceblue;
  opacity: 0.5;
}
.register-button {
  background: #00a876 0% 0% no-repeat padding-box;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  margin-bottom: 15%;
}
.register-link {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}
.register-url {
  color: aliceblue;
  opacity: 0.5;
}
.loging {
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  left: 5%;
}
.loging-heading {
  color: antiquewhite;
  margin-bottom: 20%;
}
.login-button {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  margin-bottom: 15%;
}
.login-row {
  display: flex;
  flex-direction: row;
}
.forget-password {
  color: #f7f7f7;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10%;
  margin-top: 2%;
}
