.dought-chart {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.radar-chart {
  background-color: rgb(255, 255, 255);
  padding: 1%;
}
.margin {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background-color: rgb(255, 255, 255);
}
