.activity-main-title {
  color: black;
  margin: 2%;
  font-size: 25px;
}
.indigo-reg-check-circle1 {
  width: 50px;
  height: 50px;
  color: white;
  background: #7467f0;
  border-radius: 60%;
  border: none;
}
.indigo-reg-check-circle2 {
  width: 50px;
  height: 50px;
  color: white;
  background: #02f0c7;
  border-radius: 60%;
  border: none;
}
.indigo-reg-check-circle3 {
  width: 50px;
  height: 50px;
  color: white;
  background: #8fdf81;
  border-radius: 60%;
  border: none;
}
.indigo-reg-check-circle4 {
  width: 50px;
  height: 50px;
  color: white;
  background: #8fdf81;
  border-radius: 60%;
  border: none;
}
.indigo-reg-check-circle5 {
  width: 50px;
  height: 50px;
  color: white;
  background: #fe777e;
  border-radius: 60%;
  border: none;
}
.indigo-reg-check-circle6 {
  width: 50px;
  height: 50px;
  color: white;
  background: #ec8d60;
  border-radius: 60%;
  border: none;
}
.activiy-coloum {
  display: flex;
  flex-direction: row;
}
.activity-icon {
  display: flex;
  flex-direction: column;
}
.vertical-line {
  background: rgb(0, 0, 0);
  opacity: 0.5;
  width: 4px;
  height: 35px;
  margin-left: 44%;
  overflow: hidden;
}
.activity-content {
  margin-top: 8%;
}
.main-activity {
  color: black;
  font-size: 18px;
  line-height: 2px;
}
.activity-details-main {
  margin-left: 5%;
  line-height: 12px;
}
.activity-detils {
  color: black;
  opacity: 0.5;
}

.activity-time {
  line-height: 2px;
  color: black;
  opacity: 0.5;
}
