.sidebar-main {
  width: 100%;
  height: 100%;
}
.short-side-bar {
  display: flex;
  flex-direction: column;
  color: #e3e9ef;
  background-color: #131f25;
  justify-content: center;
}
.short-side-bar-icon-md-dash {
  width: 45px;
  height: 45px;
  margin: 150% 50px 10%;
}
.short-side-bar-icon-io-ios {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-md-assi {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-md-alam {
  width: 45px;
  height: 45px;
  margin: 150% 50px 10%;
}
.short-side-bar-icon-go-lig {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-fa-file {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-ai-out {
  width: 45px;
  height: 45px;
  margin: 150% 50px 10%;
}
.short-side-bar-icon-md-chat {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-fa-reg {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-fa-slide {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
.short-side-bar-icon-ai-outline {
  width: 45px;
  height: 45px;
  margin: 50px 50px;
}
